thead th{
    background-color: #EDF2F9 !important;
}
tbody td{
    padding: 8px 18px !important;
    vertical-align: middle !important;
}

.table-hover > tbody > tr:hover, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
	background-color: rgba(237, 242, 249, 0.3) !important;
}
/*==============================action-button=====================*/
.actions{
    text-align: center !important;
    width: 25% !important;
}
.bread-actions{
    text-align: center !important;
    display: flex;
    justify-content: center;
}
.bread-actions > a{
    width: 100%;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.bread-actions > div{
    width: 100%;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.btn-status{
    background-color: #337ab7 !important;
}
.btn-deactivate{
    background-color: #5F081A;
}
.btn-activate{
    background-color: #19BE61;
}
